extends ../layout/back

block admin
	div.overlay.loader.list
		.loading
			img(src='/public/img/ajax-loader.gif')
	div.overlay.loader.full
		.loading
			img(src='/public/img/ajax-loader.gif')
			
	div#module