.overlay
	.button
		| Se connecter
.users
	.title
		.options
			span(data-option='hide', data-selected='false') 
				img(src='/public/img/chat/hide.png', alt='')
			span(data-option='restrict', data-selected='false')
				img(src='/public/img/chat/restrict.png', alt='')
		\Utilisateurs connect&eacute;s
	.logged
		ul.tpl
			li.user(data-user='{{login}}') 
				\{{login}}
		ul.users
		
.messages
	.message.tpl
		.message(class='{{className}}', data-auteur='{{auteur}}')
			.auteur(title='{{auteur}}')
				\{{auteur}} 
			.corps 
				\{{message}}

.form
	textarea(name="message", placeholder="Votre message ici")
