div.content
	div.box.login
		div.title
			| Se connecter :
		div.form
			div.feedback
			form(method='post', action='/login')
				input.log(type='text', name='login', placeholder='Votre login', data-focus)
				input(type='password', name='passwd', placeholder='Votre mot de passe')
			
	div.box.register
		div.title
			| Nouvel utilisateur ?
		div.form
			div.feedback
			input(type='text', name='login', placeholder='Votre login')
			input(type='password', name='passwd', placeholder='Votre mot de passe')
			div.submit.bouton_submit 
				| S'enregistrer
