body
	#barre
		.create
			\Cr&eacute;er une partie
		.content
			.rooms
				.opened
					.title
						\Parties disponibles :
					.content
				.full
					.title
						\Parties en cours :
					.content
			.interface.hidden
				.info
					.feedback
					.settings
				.game
					.arrow
						.myTurn
							\C'est votre tour !
						.notMyTurn
							\Votre adversaire joue...
					.barres
					.rules
						\Supprimez une, deux ou trois pi&egrave;ces, le joueur qui supprime la derni&egrave;re a perdu.
			
			
			
			
			
			.barresTpl.tpl
				.barre(data-n='{{n}}')
					div.full
					div.empty
			.roomsTpl.tpl
				.room(data-host='{{host}}')
					\{{host}} 
					span.infos
						span.join
							\- Rejoindre
						span.delete
							\- Supprimer votre partie
					span.players
						\ 1/2
			.settingsTpl.tpl
				.players
					strong
						\{{host}} 
					| vs 
					strong
						\{{player}}
				.waiting
					| En attente d'un autre joueur...