.content
	.header.options
		.title
			img(
				src		= '/public/img/icon/options.png'
			)
			| Options - #{module.title}
			
		.menu
			ul
				li.current
					| Param&egrave;tres
				li
					| Statistiques
				li
					| Historique
	
		.options
			.option.cancel
				img.active(src='/public/img/icon/cancel.png')
				img.hover(src='/public/img/icon/cancel_hover.png')
				
	div#options